
<style>
		* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

#if7bw1 {
	font-size: 40px;
}

#iadmkt {
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
}

#if92qk {
	align-self: center;
}

#iuwqwc {
	flex-direction: column;
}

#ikvz0d {
	max-width: 1200px;
	display: flex;
	flex-direction: column;
}

#igdu1f {
	justify-content: center;
	padding-top: 80px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 80px;
}

#ik7dmu {
	font-family: Arial, Helvetica, sans-serif;
	background-image: unset;
	background-position: unset;
	background-size: unset;
	background-repeat: unset;
	background-attachment: unset;
	background-origin: unset;
	color: #475569;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	.gjs-grid-row {
		flex-direction: column;
	}
}
</style>

	<div id="igdu1f" class="gjs-grid-row">
		<div id="ikvz0d" class="gjs-grid-column">
			<div id="iuwqwc" class="gjs-grid-row">
				<div id="if92qk" class="gjs-grid-column"><a href="/" id="iadmkt" class="gjs-link-box">
						<div id="if7bw1">💅</div>
					</a></div>
			</div>
		</div>
	</div>