
<style>
	* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-link-box {
	color: inherit;
	display: inline-block;
	vertical-align: top;
	padding: 10px;
	max-width: 100%;
	text-decoration: none;
}

.gjs-link {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: inherit;
	transition: color 0.3s ease 0s;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

.gjs-link:hover {
	color: rgb(36, 99, 235);
	text-decoration: underline;
}

#iatxkr {
	font-size: 40px;
}

#i6yob3 {
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;
}

#iuvoy9 {
	flex: 0 1 auto;
}

#ic4agp {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#i9pggt {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#ieu3fv {
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 20px;
	padding-right: 20px;
}

#i7w5z5 {
	flex: 0 1 auto;
}

#iz425p {
	padding-top: 0px;
	padding-bottom: 0px;
}

#iic7io {
	flex: 0 1 auto;
}

#ivpt2d {
	background-color: #CB9DF0;
}

#i3vnfx {
	flex: 0 1 auto;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
}

#i0j80g {
	align-items: center;
	justify-content: space-between;
	padding-top: 0px;
	padding-bottom: 0px;
	background-color: rgba(255, 255, 255, 0.8);
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	backdrop-filter: blur(13px);
	box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.14);
}

#ij72rm {
	width: 100%;
	max-width: 1200px;
}

#i9yd7i {
	justify-content: center;
	position: sticky;
	top: 15px;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
}

#idcqj3 {
	font-family: Arial, Helvetica, sans-serif;
	background-image: unset;
	background-position: unset;
	background-size: unset;
	background-repeat: unset;
	background-attachment: unset;
	background-origin: unset;
	color: #475569;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	.gjs-grid-row {
		flex-direction: column;
	}

	#iz425p {
		flex-direction: row;
	}

	#i0j80g {
		flex-direction: row;
	}
}

@media (max-width:768px) {
	#iic7io {
		display: none;
	}
}
</style>

<div id="i9yd7i" class="gjs-grid-row">
	<div id="ij72rm" class="gjs-grid-column">
		<div id="i0j80g" class="gjs-grid-row">
			<div id="iuvoy9" class="gjs-grid-column"><a href="/" id="i6yob3" class="gjs-link-box">
					<div id="iatxkr">💅</div>
				</a></div>
			<div id="iic7io" class="gjs-grid-column">
				<div id="iz425p" class="gjs-grid-row">
					<div id="i7w5z5" class="gjs-grid-column">
						<a href="/courses" id="ic4agp" class="gjs-link">Обучение<br/></a>
						<a href="/prices" id="i9pggt" class="gjs-link">Цены<br/></a>
						<a href="/rates" id="ieu3fv" class="gjs-link">Отзывы<br/></a>
					</div>
				</div>
			</div>
			{% if not user.is_authenticated %}
			<div id="i3vnfx" class="gjs-grid-column"><a id="ivpt2d" class="gjs-button" href="/login">Войти</a></div>
			{% endif %}
			{% if user.is_authenticated %}
			<div id="i3vnfx" class="gjs-grid-column"><a id="ivpt2d" class="gjs-button" href="/profile">Профиль</a></div>
			{% endif %}
		</div>
	</div>
</div>