* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-heading {
	margin: 0;
}

.gjs-heading {
	margin: 0;
	color: rgba(29, 40, 55, 1);
}

.gjs-grid-column {
	flex: 1 1 0%;
	padding: 5px 0;
}

.gjs-grid-row {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	flex-direction: row;
	min-height: auto;
	padding: 10px 0;
}

.gjs-grid-column.feature-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 30%;
}

.gjs-grid-column.testimonial-item {
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	min-width: 45%;
	background-color: rgba(247, 247, 247, 0.23);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	align-items: flex-start;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.06);
	border-left-color: rgba(0, 0, 0, 0.06);
}

.gjs-button {
	vertical-align: top;
	max-width: 100%;
	display: inline-block;
	text-decoration: none;
	color: white;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
	background-color: rgb(36, 99, 235);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 10px;
	font-size: 1.1rem;
	text-align: center;
}

#ivlq93 {
	flex: 0 1 auto;
	align-self: flex-start;
	margin-left: 10px;
	font-size: 3em;
	font-weight: 600;
	color: rgba(0, 0, 0, 1);
}

#ie6f77 {
	color: black;
	display: flex;
	flex: 0 1 auto;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#ifxtvz {
	font-size: 2rem;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%;
	flex: 0 1 auto;
	align-self: flex-start;
	padding-bottom: 10px;
}

#i6nvti {
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	flex: 0 1 auto;
	align-self: flex-end;
	background-image: linear-gradient(90deg, rgba(240, 120, 248, 1) 10%, rgba(252, 101, 201, 1) 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: rgba(56, 62, 92, 1);
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#ismtxq {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: linear-gradient(rgba(196, 35, 241, 0.5) 1%, rgba(196, 35, 241, 0.5) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
}

#i29oa2 {
	padding-top: 0px;
	padding-bottom: 0px;
	gap: 15px;
	width: 100%;
}

#izcwev {
	max-width: 1200px;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	gap: 15px;
	background-color: rgba(189, 131, 237, 1);
	padding-top: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
}

#i7ou0x {
	justify-content: center;
	padding-top: 40px;
	padding-bottom: 80px;
	padding-left: 20px;
	padding-right: 20px;
}

#i39khv {
	font-family: Arial, Helvetica, sans-serif;
	background-image: unset;
	background-position: unset;
	background-size: unset;
	background-repeat: unset;
	background-attachment: unset;
	background-origin: unset;
	color: #475569;
}

#i5l0ia {
	color: black;
	display: flex;
	flex: 0 1 auto;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#i85raj {
	font-size: 2rem;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%;
	flex: 0 1 auto;
	align-self: flex-start;
	padding-bottom: 10px;
}

#i0uchw {
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	flex: 0 1 auto;
	align-self: flex-end;
	background-image: linear-gradient(90deg, rgba(240, 120, 248, 1) 10%, rgba(252, 101, 201, 1) 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: rgba(56, 62, 92, 1);
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#ibwiou {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: linear-gradient(rgba(196, 35, 241, 0.5) 1%, rgba(196, 35, 241, 0.5) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
}

#ipk5vg {
	color: black;
	display: flex;
	flex: 0 1 auto;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#iinwoy {
	font-size: 2rem;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%;
	flex: 0 1 auto;
	align-self: flex-start;
	padding-bottom: 10px;
}

#ifbsxe {
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	flex: 0 1 auto;
	align-self: flex-end;
	background-image: linear-gradient(90deg, rgba(240, 120, 248, 1) 10%, rgba(252, 101, 201, 1) 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: rgba(56, 62, 92, 1);
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#il17cf {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: linear-gradient(rgba(196, 35, 241, 0.5) 1%, rgba(196, 35, 241, 0.5) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
}

#ihdfdl {
	color: black;
	display: flex;
	flex: 0 1 auto;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#iixgeg {
	font-size: 2rem;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%;
	flex: 0 1 auto;
	align-self: flex-start;
	padding-bottom: 10px;
}

#ijruxb {
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	flex: 0 1 auto;
	align-self: flex-end;
	background-image: linear-gradient(90deg, rgba(240, 120, 248, 1) 10%, rgba(252, 101, 201, 1) 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: rgba(56, 62, 92, 1);
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#i5awwx {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: linear-gradient(rgba(196, 35, 241, 0.5) 1%, rgba(196, 35, 241, 0.5) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
}

#i27dio {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#il9ifl {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#i1obbq {
	padding-top: 0px;
	padding-bottom: 0px;
	gap: 15px;
	width: 100%;
}

#iisecf {
	color: black;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	height: 150px;
	align-self: center;
	flex: 0 0 auto;
}

#itgafm {
	color: black;
	display: flex;
	flex: 0 1 auto;
	align-self: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	max-width: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

#iubv0d {
	font-size: 2rem;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
	max-width: 100%;
	flex: 0 1 auto;
	align-self: flex-start;
	padding-bottom: 10px;
}

#irfrh1 {
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	align-content: center;
	flex-direction: column;
	display: inline-block;
	position: sticky;
	top: 1000px;
	flex: 0 1 auto;
	align-self: flex-end;
	background-image: linear-gradient(90deg, rgba(240, 120, 248, 1) 10%, rgba(252, 101, 201, 1) 90%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	color: rgba(56, 62, 92, 1);
	width: 100%;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}

#i4s1tj {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: linear-gradient(rgba(196, 35, 241, 0.5) 1%, rgba(196, 35, 241, 0.5) 100%);
	background-position: 0px 0px;
	background-size: 100% 100%;
	background-repeat: repeat;
	background-attachment: scroll;
	background-origin: padding-box;
}

#ipfgs5 {
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

#i44jfn {
	padding: 10px;
	flex: 0 1 auto;
	align-self: flex-start;
	margin-left: 10px;
	font-size: 2em;
	font-weight: 600;
	color: rgba(0, 0, 0, 1);
}

#i2r8jv {
	flex: 0 1 auto;
	align-self: flex-start;
	margin-left: 10px;
	font-size: 2em;
	font-weight: 500;
	color: rgba(0, 0, 0, 1);
}

#ion4i1 {
	align-self: flex-end;
	height: 30px;
	font-size: 1em;
	background-color: rgba(225, 127, 243, 1);
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

@keyframes fadeEffect {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@media (max-width:992px) {
	.gjs-grid-row {
		flex-direction: column;
	}

	.gjs-grid-row {
		flex-direction: column;
	}
}

@media (max-width:768px) {
	#i6nvti {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#ismtxq {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#i29oa2 {
		padding-bottom: 7px;
		width: 95%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 7px;
		padding-right: 0px;
		padding-left: 0px;
	}

	#i7ou0x {
		padding-bottom: 40px;
		padding-top: 40px;
	}

	#i0uchw {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#ibwiou {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#ifbsxe {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#il17cf {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#ijruxb {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#i5awwx {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#i27dio {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#il9ifl {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#i1obbq {
		padding-bottom: 7px;
		width: 95%;
		margin-top: 0px;
		margin-right: 0px;
		margin-bottom: 0px;
		margin-left: 0px;
		padding-top: 7px;
		padding-right: 0px;
		padding-left: 0px;
	}

	#irfrh1 {
		padding-bottom: 10px;
		margin-bottom: 5px;
	}

	#i4s1tj {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}

	#ipfgs5 {
		align-self: center;
		flex: 1 1 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: auto;
		min-width: auto;
		max-width: 500px;
		padding-top: 0px;
		padding-bottom: 0px;
		margin-bottom: 10px;
	}
}